* {
    all: unset;
    font-family: "Phosphor";
}

.time {
    font-family: "Jetbrains Mono Nerdfont";
    background-color: rgba(#000000, 1);
    color: #FFFFFF;

    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
}

.power {
    background-color: rgba(#000000, 1);
    color: #FFFFFF;

    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
}

.cpu {
    background-color: rgba(#000000, 1);
    color: #f25555;

    border-radius: 10px;

    font-size: 14px;
    font-weight: bold;
}

.calendar {
    background-color: rgba(#000000, 1);
    color: #FFFFFF;

    font-size: 18px;

    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;

    &:selected {
        background-color: rgba(#FFFFFF, 0.5);
        color: #000000;
    }

    &:indeterminate {
        color: rgba(#000000, 1);
    }
}
